<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Welcome on AppHeraut !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <h1 *ngIf="authFirebaseService.user | async">Welcome {{ (authFirebaseService.user | async)?.email }}!</h1>

    <div class="centered" *ngIf="!(authFirebaseService.user | async)">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Credentials</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-input type="text" [(ngModel)]="email" placeholder="Email"></ion-input>

          <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
        </ion-card-content>
        <ion-card-content>
          <ion-button (click)="signup()" [disabled]="!email || !password">
            <ion-icon slot="end" name="arrow-dropleft"></ion-icon>
            Signup
          </ion-button>

          <ion-button (click)="login()" [disabled]="!email || !password">
            <ion-icon slot="start" name="arrow-dropright"></ion-icon>
            Login
          </ion-button>
        </ion-card-content>
      </ion-card>

    </div>
    
</ion-content>