<ion-header>
  <ion-toolbar>
    <ion-title>aperoList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/tabs/apero-details">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="begin" slot="fixed">
      <ion-fab-button (click)="joinApero()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
   
    <ion-list>
      <ion-item button [routerLink]="['/tabs/apero-details', apero.id]" *ngFor="let apero of (aperos | async)">
        {{ apero._user_name_host }}
      </ion-item>
    </ion-list>
  </ion-content>
